<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="static/plugs/layui/images/face/0.gif"/>
    <title>{block name="title"}layui-精彩无限{/block}</title>
    <link rel="stylesheet" href="static/plugs/layui/css/layui.css"/>
    <link rel="stylesheet" href="static/index/css/base.css"/>
    {block name="style"}{/block}
    <script src="static/plugs/require/require.js"></script>
    <script src="static/admin/app.js"></script>
    <script src="static/index/js/base.js"></script>
</head>
{block name="bodyTag"}
<body>
{block name="body"}{/block}
{block name="script"}{/block}
</body>
{/block}
</html>